.clipping_water{
    z-index: -1;
    background-color: blue;
}

.background_water{
    z-index: -2;
    background-color: aqua;
    animation: waves 10s linear infinite;
    animation-delay: -3s;
}

.background_water_2{
    z-index: -3;
    background-color: cadetblue;
    animation: waves 10s ease-in-out infinite;
    animation-delay: -6s;
}

.ShowBelowWaterLevel{
    animation: waves 10s linear infinite;
}
.ShowAboveWaterLevel{
    animation: antiwaves 10s linear infinite;
}

@keyframes waves{
    0%{
        clip-path: polygon(
            0% 100%,
            var(--Keyframe0),
            100% 100% 
        );
    }
    25%{
        clip-path: polygon(
            0% 100%,
            var(--Keyframe1),
            100% 100%
        );
    }
    50%{
        clip-path: polygon(
            0% 100%,
            var(--Keyframe2),
            100% 100%
        );
    }
    75%{
        clip-path: polygon(
            0% 100%,
            var(--Keyframe3),
            100% 100%
        );
    }
    100%{
        clip-path: polygon(
            0% 100%,
            var(--Keyframe0),
            100% 100%
        );
    }
}

@keyframes antiwaves{
    0%{
        clip-path: polygon(
            0% 0%,
            var(--Keyframe0),
            100% 0% 
        );
    }
    25%{
        clip-path: polygon(
            0% 0%,
            var(--Keyframe1),
            100% 0%
        );
    }
    50%{
        clip-path: polygon(
            0% 0%,
            var(--Keyframe2),
            100% 0%
        );
    }
    75%{
        clip-path: polygon(
            0% 0%,
            var(--Keyframe3),
            100% 0%
        );
    }
    100%{
        clip-path: polygon(
            0% 0%,
            var(--Keyframe0),
            100% 0%
        );
    }
}
